sudo: required

language: c

notifications:
  email: false

branches:
  only:
    - master
    - develop
    - "/^[0-9]+\\.[0-9]+\\.[0-9]+/"

services:
  - docker

install:
  - pip install --user cpp-coveralls

script:
  - docker network create --subnet=172.26.0.0/24 test
  - docker run -d --net test --ip 172.26.0.2 --name zookeeper wurstmeister/zookeeper
  - docker run -d --net test --ip 172.26.0.3 --name kafka -e KAFKA_ADVERTISED_HOST_NAME="172.26.0.3" -e KAFKA_ADVERTISED_PORT="9092" -e KAFKA_ZOOKEEPER_CONNECT="172.26.0.2:2181" -v /var/run/docker.sock:/var/run/docker.sock wurstmeister/kafka
  - docker run -v $(pwd):/app redborder/dev-containers:f2k ./configure
  - docker run -v $(pwd):/app redborder/dev-containers:f2k make -j4
  - docker run -v $(pwd):/app --net test -e CFLAGS=-w --link kafka redborder/dev-containers:f2k make checks -j4

after_success:
  - docker run -v $(pwd):/app redborder/dev-containers:f2k make clean
  - docker run -v $(pwd):/app redborder/dev-containers:f2k ./configure --enable-coverage
  - docker run -v $(pwd):/app -e CFLAGS=-w --link kafka --net test redborder/dev-containers:f2k make coverage
  - coveralls --exclude /usr/lib --exclude tests --gcov-options '\-lp'

before_deploy:
  - tar -cvzf f2k-${TRAVIS_TAG}.tar.gz f2k

deploy:
  provider: releases
  api_key:
    secure: YWOfroVEPC+4IfQrSvaP8HExFpFzSYjnOh/tvNA63iOxYi4SuR04NfjgtQMEnlJsRV05HM6LqAUyyzQhGgfqjvO3CACtGXtzFixDFKo3hdpJ0RmCeRcQSDLDTCYpuyMFXuCrqmT6INRLRa7E7wnYdaJI5lfZjqGit7wlbYpFOzSeKqFHNrMxpp74owRXvAuGLh6VMT4FpvBxuxWE7+Xos35eNR5WmSQwMIAw5LNE5QqJB1Fu0UjYNkSaLRecN8rsf8EXwJg7HA7Gw1CacSccuar4jhdo1pOWPUP1OZTP772Y3r/vtWXqmmTcoh1BcsUbt5v4HVS7cqHJDVffGegtYvQobkOPaHf3fsPcW0OgwrRTJUD3GwPRNQSvZG5r+ZZdKDs4f72brldVZl0HYI3zjZoGUOTThGsrU1l5uiDkbMnOO9wq14r2wKIFl9l3iS88KF23G4C+pLCrIUVxEglFLVh6dVoYMkHXTHaPoZiDwVPXzsiIsGxqxYitAHX7aOgm9F/JYKjEVVzbA0f2PW9A7LC0+AptqJEfRgC6Z798PAKgRcQBaM/7l5wHBySngTK6ZzjuRPq8DtKRr/ZRGRoBqnwUSTdBoYp27Ij7kf6cVgaZa+xa8Y3pyVVdev3bHG7v02a5oJ/Gzr425iR8Rs+MSEfGQdlNjXWkGHs3Yxu2X5k=
  file: f2k-${TRAVIS_TAG}.tar.gz
  on:
    tags: true
